<table id="productsTable" class=" container table table-striped">
    <tr>
        <td><strong>Producto</strong></td>
        <td><strong>Descripción</strong></td>
        <td><strong>Precio</strong></td>
        <td><strong>Stock</strong></td>
        <td><strong>Categoría</strong></td>
        <td><strong>Modificar</strong></td>
        <td><strong>Eliminar</strong></td>
    </tr>

    <tr>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.price}}</td>
        <td>{{this.stock}}</td>
        <td>{{this.category}}</td>
        <td><a href=""><button class="modifyBtn">Modificar</button></a></td>
        <td><button class="deleteBtn" data-product-id="{{this._id}}">Eliminar</button></td>
    </tr>

</table>